.mob-menu{
    opacity: 1;
    
    @media screen and (min-width:768px){
        display: none;
    }
    transition: opacity 250ms var(--timing-funtion);
         
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 10px 0 48px 25px;
    z-index: 5;
    .container{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        overflow: auto;
        width: 100%;
       
           
        
    }
    
}
.mob-menu.is-hidden{
    
    
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms var(--timing-funtion);
    
    
}
.mob-close{
        display: block;
        margin-left: auto;
        background-color: transparent;
        border: none;
        cursor: pointer;
        
       
        &:focus,&:hover .mob-list-item{
            fill: var(--accent-color);
    
}
}


.mob-list-item{
    margin-bottom: 32px;
    &:last-child{
        margin-bottom: 0;
    }
}
.mob-btn {

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
         transition-timing-function: var(--timing-funtion);
         transition-duration: 250ms;
         transition-property: fill;

}
.mob-list-link{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        display: block;
        transition-timing-function: var(--timing-funtion);
            transition-duration: 250ms;
            transition-property: color;
    
        color: var(--header-color);
        &:hover, &:focus,&.active{
                     color: #2196F3;
                    transition-timing-function: var(--timing-funtion);
                        transition-duration: 250ms;
                        transition-property: color;     
                 }
                 &::after{
                     content: '';
                     background-color: #2196F3;
                     color: #2196F3;
                     fill: #2196F3;
                     position: absolute;
                     width: 100%;
                     display: block;
                 }

}
.mob-list__adres{
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    
        color: var(--second-title-color);
        &:hover,
            &:focus {
                color: var(--accent-color);
            }

}
.mob-list__tel{
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: #2196F3;
        display: block;
}
.mob-list-soc{
    display: flex;
    flex-wrap: wrap;
   
}
.mob-list-item-soc{
    margin-right: 10px;
    &::before{
        content: '';
        border: 0.1px solid rgba(33, 33, 33, 0.2);
            transform: rotate(90deg);
            margin-right: 10px;
        border-style:solid;
       
         
    }

        &:first-child::before {
            border: none;
            margin-right: 0;
        }
        
    &:last-child{
        margin-right: 0;
    }
}
.mob-list-link-soc{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: var(--accent-color);
}
.mob-list-adres{
    margin-bottom: 64px;
}
.mob-list__item{
    margin-bottom: 32px;
    &:last-child{
        margin-bottom: 0;
    }
    display: block;
}
