.header {
    background-color: var(--first-btn-color);
    border-bottom: 1px solid #ECECEC;

}



.header__icon {
    
    margin-right: 10px;
    transition-timing-function: var(--timing-funtion);
    transition-duration: 250ms;
    transition-property: fill;
    &:focus,&:hover {
            fill: var(--accent-color);
            transition-timing-function: var(--timing-funtion);
            transition-duration: 250ms;
            transition-property: fill;

}
}


.header-list2__adres {
    display: flex;
    &:hover svg,
    &:focus svg {
            fill: var(--accent-color);
            transition-timing-function: var(--timing-funtion);
            transition-duration: 250ms;
            transition-property: fill;
        }
}

// .header-list2__adres1 {
// @extend %alaing-items;


// }


.header-soc-link1 {
    width: 16px;
    height: 12px;
@extend %alaing-items;
    margin-right: 10px;
    &:hover {
            fill: var(--accent-color);
            transition-timing-function: var(--timing-funtion);
            transition-duration: 250ms;
            transition-property: color;
        }
}

.header-soc-link2 {
    width: 10px;
    height: 16px;
    @extend %alaing-items;
    margin-right: 10px;

}


.container-flax,
.header-nav,
.header-list1,
.header-list2 {
    display: flex;

}

.header-list2__tel {
    // padding-bottom: 32px;
    // padding-top: 32px;
    &:hover svg,
    &:focus svg {
            fill: var(--accent-color);
            transition-timing-function: var(--timing-funtion);
            transition-duration: 250ms;
            transition-property: fill;
        }
    
}


.header-list1__item {
   
    margin-left: 50px;
    &:first-child {
            margin-left: 0;
        }


}



.header-list2__item2 {
    margin-bottom: 10px;
    @media screen and (min-width:1200px){
        margin-bottom: 0;
        margin-right: 30px;
    }
}

.header-list1 {
    display: none;
    
    @media screen and (min-width:768px){
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
            padding: 0px;
            
            text-align: center;
            margin-left: 88px;

    }
        @media screen and (min-width:1200px){
            margin-left: 93px;
        }
}

.header-list2 {
    display: none;
    align-items: center;
    justify-content: center;
    @media screen and (min-width:768px){
      display: flex;
        margin-left: auto;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
        @media screen and (min-width:1200px){
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
}



.header-nav {
    align-items: center;
}
.mob-open{
    @media screen and (min-width:768px) {
            display: none;
        }
    
        @media screen and (min-width:1200px) {
            display: none;
        }
        padding: 0;
    display: block;
    margin-left: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition-timing-function: var(--timing-funtion);
        transition-duration: 250ms;
        transition-property: fill;
           &:hover, &:focus{
            fill: var(--accent-color);
        }
       
       
}
// .header-menu-btn{
//     &:focus, &:hover {
//     fill:var(--accent-color);
//     }
//         transition-timing-function: var(--timing-funtion);
//         transition-duration: 250ms;
//         transition-property: fill;
   

// }




.header__logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--first-title-color);
    text-decoration: none;
    padding: 16px 0;
   
    @media screen and (min-width:1200px){
        font-size: 26px;
        line-height: 1.19;

    }
}


.header__text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}




.header-list1__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
    display: block;
    transition-timing-function: var(--timing-funtion);
    transition-duration: 250ms;
    transition-property: color;
    padding-top: 32px;
        padding-bottom: 32px;
        display: block;
        position: relative;
        &:hover,&:focus,&.active {
                color: var(--accent-color);
                transition-timing-function: var(--timing-funtion);
                transition-duration: 250ms;
                transition-property: color;
            }
                        &.active::after {
            
                            content: '';
                            position: absolute;
                            bottom: -1px;
                            left: 0;
                            width: 100%;
                            height: 4px;
                            background: #2196F3;
                            border-radius: 2px;
                            display: block;            
                        }

}


.header-list2__tel {
    @media screen and (min-width:768px) {
        padding-bottom: 20px;
    }
}

.header-list2__adres {
    @media screen and (min-width:768px) {
        padding-top: 20px;
    }


}

.header-list2__tel,
.header-list2__adres {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
@extend %alaing-items;
    transition-timing-function: var(--timing-funtion);
    transition-duration: 250ms;
    transition-property: color;
    &:hover,&:focus {
            color: var(--accent-color);
            transition-timing-function: var(--timing-funtion);
            transition-duration: 250ms;
            transition-property: color;        
}
   @media screen and (min-width:1200px) {
       font-size: 14px;
       line-height: 1.14;
       padding: 32px 0;
   }
}

