:root {
    --header-color: #212121;
    --first-title-color: #212121;
    --second-title-color: #757575;
    --first-btn-color: #ffffff;
    --accent-color: #2196f3;
    --backg-color: #e5e5e5;
    --backg-color2: #F5F4FA;
    --hero-color: #2f303a;
    --timing-funtion: cubic-bezier(0.4, 0, 0.2, 1)
}